# API FOR RECOMMENDATION SYSTEM : Grant Me APP
**Final Version**

Import *Library*

In [1]:
from flask import Flask, request, jsonify
from keras.models import load_model
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import mysql.connector
from dotenv import load_dotenv
import os
app = Flask(__name__)

# Load model
model = load_model('model_V2.h5')
# Load environment variables from .env
load_dotenv()

# Access database connection information
db_host = os.getenv("DB_HOST")
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_name = os.getenv("DB_NAME")

**CONNECT THE DATABASE**

In [2]:
# Connect to the database
db = mysql.connector.connect(
    host=db_host,
    user=db_user,
    passwd=db_password,
    database=db_name,
)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '34.101.114.119:3306' (10060)

**CREATE FUNCTION TO GET THE SCHOLARSHIPS**

In [ ]:
def get_scholarships(jenis_beasiswa):
    cursor = db.cursor()
    sql = "SELECT * FROM Scholarships WHERE jenis_beasiswa = %s"
    cursor.execute(sql, (jenis_beasiswa,))
    row_headers = [x[0] for x in cursor.description]
    results = cursor.fetchall()
    json_data = []
    for result in results:
        json_data.append(dict(zip(row_headers, result)))

    return json_data

**MAKE THE MODEL**

In [ ]:
@app.route('/predict', methods=['POST'])
def predict():
    # Ambil data input dari request
    data = request.get_json(force=True)
    input_data = np.array([[
        data['IPK'],
        data['Sertifikasi'],
        data['SertifikasiProfesional'],
        data['prestasiNasional'],
        data['lombaNasional'],
        data['prestasiInternasional'],
        data['lombaInternasional'],
        data['internMagang'],
        data['Kepanitiaan']
    ]])
    prediction = model.predict(input_data)

    # Convert float32 values to Python floats
    prediction = prediction.astype(float)
    # Ambil nilai tertinggi dari hasil prediksi
    max_index = np.argmax(prediction)
    max_value = prediction[0, max_index].item()

    # Menentukan cluster berdasarkan max_value
    clusters = ["Pemerintah", "Swasta", "Organisasi", "Prestasi", "Bantuan"]
    cluster = clusters[max_index]
    hasil = get_scholarships(cluster)

    if prediction is not None:
        return jsonify({
            'statusCode': 200,
            'message': 'Success Predicting',
            'Persentase Akurasi': max_value,
            'Tag Beasiswa': cluster,
            'output': hasil
        }), 200
    elif input_data is None:
        return jsonify({
            'statusCode': 400,
            'message': 'Bad Request',
            'output': {}
        }), 400
    elif prediction is None:
        return jsonify({
            'statusCode': 404,
            'message': 'Not Found',
            'output': {}
        }), 404
    else:
        return jsonify({
            'statusCode': 500,
            'message': 'Failed Predicting',
            'output': {}
        }), 500

In [ ]:
if __name__ == '__main__':
    app.run(port=5000)